{% extends 'admin_layout.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5">
                <div class="box">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.name == 'status' %}
                        <div class="select is-fullwidth">
                            {{field}}
                        </div>
                        {% else %}
                        {% if order.status in allowed_status%}
                        <div class="field">
                            <label for="{{field.id_for_label}}" class="label">
                                {{field.label}}
                            </label>
                            <div class="control">
                                {{field}}
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <button class="button is-success">
                            OK
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}